{% extends 'main.html' %}

{% block content %}


  <header>
    <h1>Welcome to our Wonderland of Puzzles, Cubes, and Teas!</h1>
  </header>

  <main>
    <section>
      <h2>Puzzles Galore!</h2>
      <p>Delve into the world of jigsaw puzzles that promise hours of immersive fun.</p>
    </section>

    <section>
      <h2>Magic Cubes!</h2>
      <p>Unleash your inner magician with our range of mesmerizing magic cubes.</p>
    </section>

    <section>
      <h2>Teas for Days!</h2>
      <p>Need a moment of tranquility? Explore our curated assortment of teas.</p>
    </section>
  </main>

  <footer>
    <p><b>Join us in the world of perplexing fun and relaxing sips!</b></p>
  </footer>
  

{% endblock content %}
