<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PuzzleTea</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/> -->
        <!-- <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script> -->
        <!-- <script src="https://unpkg.com/leaflet-bing-layer"></script> -->
        <!-- <link href="css/style.css" rel="stylesheet"> -->
        <!-- <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key=AmLNsQlaa-mf9IFtlAVc41YpbXsQuf6IE-tgzsEb7jgCxbL0qzr3OHO6pZojstuT" onload="mapInit"></script> -->
    </head>
    <body>
        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}
    </body>
</html>
